@import "tailwindcss/preflight";
@tailwind utilities;

/* transición suave */
:root {
  --transition: background-color .25s ease, color .25s ease;
}

@layer base {
  body {
    transition: var(--transition);
    --bg: #F5F7FA; /* claro por defecto */
    --text: #2E2E2E;
    --color1: #FF4E6B; /*Rojo*/
    --color2: #26FFC2; /*Verde*/
    --color3: #3FD6FF; /*Azul*/
    --color4: #BB6BD9; /*Violeta*/

  }

  .dark {
    --bgd: #0A0A0A;
    --textd: #E5E5E5;
    --color-1: #FF003C; /*Rojo oscuro*/
    --color-2: #00FF85; /*Verde oscuro*/
    --color-3: #00CFFF; /*Azul oscuro*/
    --color-4: #9D00FF; /*Violeta oscuro*/

  }
}