@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss/base";

@theme {
--color-primary: #1D4ED8; /* Blue */
--color-secondary: #F59E0B; /* Amber */
--color-accent: #EC4899; /* Pink */
--color-background: #F3F4F6; /* Gray */
--color-text: #111827; /* Dark Gray */
--color-border: #d1d5db; /* Light Gray */
--color-success: #16a34a; /* Green */
--color-warning: #f59e0b; /* Amber */
--color-error: #dc2626; /* Red */
--color-info: #2563eb; /* Blue */
--font-sans:'IBM Plex Sans','Roboto', sans-serif;
  }

  @layer base {
    body {
      :root[data-theme='dark'] {
        --color-background: #111827; /* Dark Gray */
        --color-text: #F3F4F6; /* Light Gray */
        --color-border: #374151; /* Darker Gray */
      }
      :root[data-theme='light'] {
        --color-background: #F3F4F6; /* Light Gray */
        --color-text: #111827; /* Dark Gray */
        --color-border: #d1d5db; /* Light Gray */
      }
    }
  }

html, body {
  @apply bg-background text-text border-border font-sans;
}